#include "afxres.h"

200 DIALOG DISCARDABLE  99, 28, 200, 90
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU| DS_CENTER
CAPTION "Please select the mouse sensitivity"
FONT 8, "Helv"
BEGIN
	CONTROL "high",   202, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 179, 23, 19, 8
	CONTROL "OK",     207, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 60, 41, 23
	CONTROL "Cancel", 210, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 60, 41, 23
	CONTROL "low",    212, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 25, 23, 19, 8

    CONTROL         "Slider1",203,"msctls_trackbar32",TBS_BOTH | 
                    TBS_AUTOTICKS | WS_TABSTOP,60,22,100,30

END

